<a href="https://colab.research.google.com/github/nannthd/BasicProg_DataViz65/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Function $(f(x) = y)$

In [1]:
def function_name(input_x) :
    # do something with input_x to get output_y
    return output

$f_1(x) = x^2 + 75$

In [2]:
def function_f1(x) :
    a = x**2
    y = a + 75
    return y
print('done!')

done!

In [3]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน
1. บอก python ว่าเราจะเขียนฟังก์ชันชื่ออะไร def function_name() : (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input _Input_ (ขาดได้)
3. ส่วนประมวลผล do_something with _Input_ toget _Output_ (ขาดไม่ได้)
4. ส่วน output return _Output_ (ขาดได้)

### ตัวอย่าง function ที่มีส่วนประกอบครบ

In [4]:
def function_f1(x) :
    a = x**2
    y = a + 75
    return y

### ตัวอย่าง function ที่ไม่มี input

In [5]:
def pi_v() :
    y = 3.14159265359
    return y

In [8]:
piv = pi_v()
circle_area_r2 = piv*(2**2)
print(circle_area_r2)

12.56637061436

### Function ไม่มี process ไม่ได้

In [9]:
def function_a():

SyntaxError: ignored

### ตัวอย่าง function ที่ไม่มี output

In [10]:
def print_name_id(name,id):
    print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [12]:
print_name_id('ณัฐธิดา','633020440-9')

ชื่อ ณัฐธิดา รหัสประจำตัว 633020440-9

In [13]:
a = print_name_id('ณัฐธิดา','633020440-9')

ชื่อ ณัฐธิดา รหัสประจำตัว 633020440-9

In [14]:
a

ตัวอย่าง function print https://www.programiz.com/python-programming/methods/built-in/print

In [17]:
print('ณัฐธิดา')
print('633020440-9')

ณัฐธิดา
633020440-9

In [ ]:
print('ณัฐธิดา',end='->')
print('633020440-9')

In [18]:
print('ณัฐธิดา','633020440-9')

ณัฐธิดา 633020440-9

In [20]:
print('ณัฐธิดา','633020440-9',sep=' & ')

ณัฐธิดา & 633020440-9

## input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับไม่จำเป็นต้องใส่)

ตัวอย่าง function print_grade() มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [21]:
def print_grade(name,id,grade = 'F'):
    print(f'รหัสประจำตัว {id} ชื่อ {name}')
    print(f'ได้เกรด {grade}')

In [22]:
print_grade('นายสิทธัตกะ จรัสแสง','623020541-2')

รหัสประจำตัว 623020541-2 ชื่อ นายสิทธัตกะ จรัสแสง
ได้เกรด F

In [23]:
print_grade('นายสิทธัตกะ จรัสแสง','623020541-2','A')

รหัสประจำตัว 623020541-2 ชื่อ นายสิทธัตกะ จรัสแสง
ได้เกรด A

In [24]:
print_grade(id='623020541-2',name='นายสิทธัตกะ จรัสแสง',grade='B+')

รหัสประจำตัว 623020541-2 ชื่อ นายสิทธัตกะ จรัสแสง
ได้เกรด B+

HW1 

เขียน function 
แสดงความต่างของเวลา (Quiz1)
โดย input อยู่ในรูปแบบ ```'09:11:50 - 12:30:15'```

และทดลองรัน

* '09:11:50 - 12:30:15'
* '13:41:07 - 20:00:18'
* '00:00:00 - 23:59:59'

In [66]:
# '09:11:50 - 12:30:15'
def time_1(x1,y1,z1,x2,y2,z2):
    a = ((x2*60*60) + (y2*60) + z2) - ((x1*60*60) + (y1*60) + z1)
    return a
print(f'09:11:50 - 12:30:15 แปลงเป็นความต่างของเวลาเป็นวินาทีได้ {time_1(9,11,50,12,30,15)} วินาที')

09:11:50 - 12:30:15 แปลงเป็นความต่างของเวลาเป็นวินาทีได้ 11905 วินาที

In [67]:
# '13:41:07 - 20:00:18'
def time_2(x3,y3,z3,x4,y4,z4):
    b = ((x4*60*60) + (y4*60) + z4) - ((x3*60*60) + (y3*60) + z3)
    return b
print(f'13:41:07 - 20:00:18 แปลงเป็นความต่างของเวลาเป็นวินาทีได้ {time_2(13,41,7,20,0,18)} วินาที')

13:41:07 - 20:00:18 แปลงเป็นความต่างของเวลาเป็นวินาทีได้ 22751 วินาที

In [68]:
# '00:00:00 - 23:59:59'
def time_3(x5,y5,z5,x6,y6,z6):
    c = ((x6*60*60) + (y6*60) + z6) - ((x5*60*60) + (y5*60) + z5)
    return c
print(f'00:00:00 - 23:59:59 แปลงเป็นความต่างของเวลาเป็นวินาทีได้ {time_3(0,0,0,23,59,59)} วินาที')

00:00:00 - 23:59:59 แปลงเป็นความต่างของเวลาเป็นวินาทีได้ 86399 วินาที